<div class="body bg-pdd-20 bg-min-h">
    <section class="container">
        <div class="row">
            <section class="filtros">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h2>Listado Anual</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="reportes mb-5">
                        <div class="panel panel-default">
                            <div class="panel-heading mt-3">
                                <div class="table-responsive table stacktable">
                                    <table class="table table-striped table-condensed table-bordered table-hover">
                                        <thead class="reportes-titulos">
                                            <tr>
                                                <th class="tabla-check text-center">-</th>
                                                <th>Unidad de fomento (UF)
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Libra de Cobre
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Tasa de desempleo
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Euro
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Imacec
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Dólar observado
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Tasa Política Monetaria (TPM)
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Indice de valor promedio (IVP)
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Indice de Precios al Consumidor (IPC)
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Dólar acuerdo
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Unidad Tributaria Mensual (UTM)
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th>Bitcoin
                                                    <a href="" target="_self"></a>
                                                </th>
                                                <th class="tabla-check text-center">-</th>
                                            </tr>
                                        </thead>
                                        <tbody class="n-align">
                                            <tr>
                                                <td class="tabla-check text-center">1</td>
                                                <td>234545</td>
                                                <td>Michael Corleone</td>
                                                <td>041019</td>
                                                <td>041001</td>
                                                <td>040101917 M3</td>
                                                <td>$45.392</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th class="tabla-check text-center"><input type="checkbox"></th>
                                            </tr>
                                            <tr>
                                                <td class="tabla-check text-center">2</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th class="tabla-check text-center"><input type="checkbox"></th>
                                            </tr>
                                            <tr>
                                                <td class="tabla-check text-center">3</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th class="tabla-check text-center"><input type="checkbox"></th>
                                            </tr>
                                            <tr>
                                                <td class="tabla-check text-center">4</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <th class="tabla-check text-center"><input type="checkbox"></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <div class="clearfix">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center">
                                              <li class="page-item disabled">
                                                <a class="page-link">Anterior</a>
                                              </li>
                                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                                              <li class="page-item">
                                                <a class="page-link" href="#">Siguiente</a>
                                              </li>
                                            </ul>
                                          </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </section>
        </div>
    </section>
</div>
