.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand img {
    max-width: 160px !important;
    max-height: 26px !important;
}

.ml {
    margin-left: 100px;
}

.bg-banco {
    background-color: #011c4d;
}



